spring:
  application:
    name: sakila-backend
  graphql:
    path: /graphql
    graphiql:
      enabled: true
    introspection:
      enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/sakila
    username: sakila
    password: p_ssW0rd
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none       # Sakila schema already exists ? don't touch it
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

server:
  port: 8080